/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #000000;
  --black-soft: #222222;
  --black-mute: #282828;
  --placeholder-dark: #444444;

  --indigo: #2c3e50;

  --green: #03C745;
  --yellow: #FFE91A;
  --ivory: #FEFCF0;
  --violet: #E1BAFF;
  --gray: #E9E9E9;

  --blue: #37AAFA;
  --primary-blue: #3C9CF0;
  --blue-lagoon: #0E686E;
  --blue-light: #9AF3FF;
  
  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--black);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--ivory);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face{
  font-family: "ConsortRRBoldCondensed";
  src: url("./fonts/ConsortRRBoldCondensed.eot");
  src: url("./fonts/ConsortRRBoldCondensed.eot?#iefix")format("embedded-opentype"),
      url("./fonts/ConsortRRBoldCondensed.woff")format("woff"),
      url("./fonts/ConsortRRBoldCondensed.woff2")format("woff2"),
      url("./fonts/ConsortRRBoldCondensed.ttf")format("truetype"),
      url("./fonts/ConsortRRBoldCondensed.otf") format("opentype");
  font-weight:normal;
  font-style:normal;
}

/* Plain */
@font-face {
  font-family: 'Plain-Bold';
  src: url('./fonts/Plain/Plain-Bold/Plain-Bold.eot');
  src: url('./fonts/Plain/Plain-Bold/Plain-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Plain/Plain-Bold/Plain-Bold.woff2') format('woff2'),
       url('./fonts/Plain/Plain-Bold/Plain-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Plain-Bold-Italic';
  src: url('./fonts/Plain/Plain-Bold-Italic/Plain-Bold-Italic.eot');
  src: url('./fonts/Plain/Plain-Bold-Italic/Plain-Bold-Italic.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Plain/Plain-Bold-Italic/Plain-Bold-Italic.woff2') format('woff2'),
       url('./fonts/Plain/Plain-Bold-Italic/Plain-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Plain-Italic';
  src: url('./fonts/Plain/Plain-Italic/Plain-Italic.eot');
  src: url('./fonts/Plain/Plain-Italic/Plain-Italic.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Plain/Plain-Italic/Plain-Italic.woff2') format('woff2'),
       url('./fonts/Plain/Plain-Italic/Plain-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Plain-Light';
  src: url('./fonts/Plain/Plain-Light/Plain-Light.eot');
  src: url('./fonts/Plain/Plain-Light/Plain-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Plain/Plain-Light/Plain-Light.woff2') format('woff2'),
       url('./fonts/Plain/Plain-Light/Plain-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Plain-Light-Italic';
  src: url('./fonts/Plain/Plain-Light-Italic/Plain-Light-Italic.eot');
  src: url('./fonts/Plain/Plain-Light-Italic/Plain-Light-Italic.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Plain/Plain-Light-Italic/Plain-Light-Italic.woff2') format('woff2'),
       url('./fonts/Plain/Plain-Light-Italic/Plain-Light-Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Plain-Medium';
  src: url('./fonts/Plain/Plain-Medium/Plain-Medium.eot');
  src: url('./fonts/Plain/Plain-Medium/Plain-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Plain/Plain-Medium/Plain-Medium.woff2') format('woff2'),
       url('./fonts/Plain/Plain-Medium/Plain-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Plain-Medium-Italic';
  src: url('./fonts/Plain/Plain-Medium-Italic/Plain-Medium-Italic.eot');
  src: url('./fonts/Plain/Plain-Medium-Itali/Plain-Medium-Italic.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Plain/Plain-Medium-Itali/Plain-Medium-Italic.woff2') format('woff2'),
       url('./fonts/Plain/Plain-Medium-Itali/Plain-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Plain';
  src: url('./fonts/Plain/Plain-Regular/Plain-Regular.eot');
  src: url('./fonts/Plain/Plain-Regular/Plain-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Plain/Plain-Regular/Plain-Regular.woff2') format('woff2'),
       url('./fonts/Plain/Plain-Regular/Plain-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Plain-Thin';
  src: url('./fonts/Plain/Plain-Thin/Plain-Thin.eot');
  src: url('./fonts/Plain/Plain-Thin/Plain-Thin.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Plain/Plain-Thin/Plain-Thin.woff2') format('woff2'),
       url('./fonts/Plain/Plain-Thin/Plain-Thin.woff') format('woff');
  font-weight: 250;
  font-style: normal;
}
@font-face {
  font-family: 'Plain-Thin-Italic';
  src: url('./fonts/Plain/Plain-Thin-Italic/Plain-Thin-Italic.eot');
  src: url('./fonts/Plain/Plain-Thin-Italic/Plain-Thin-Italic.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Plain/Plain-Thin-Italic/Plain-Thin-Italic.woff2') format('woff2'),
       url('./fonts/Plain/Plain-Thin-Italic/Plain-Thin-Italic.woff') format('woff');
  font-weight: 250;
  font-style: italic;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.25s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Plain-Light';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
