@import './base.css';

a {
  color: var(--black);
  text-decoration: none;
  transition: all .25s;
}
img {
  max-width: 100%;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.btn {
  display: inline-block;
  background-color: var(--green);
  font-family: "Scto-Grotesk-A-Medium";
  font-weight: 700;
  font-size: 12px;
  padding: 8px 11px;
}
.btn:hover {
  background-color: var(--yellow);
  color: var(--black);
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
