@import './base.css';

a {
  color: var(--black);
  text-decoration: none;
  transition: all .25s;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
